apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "base_url": "https://sentry.your-domain.io",
      "token": "your-token"
    }
